    <div>
        <span class="hide_over_max">
            <a href="#" onClick="YAHOO.viroverse.oTreeble.setAllChecked(true);  return false;">Check All</a>&nbsp;
            <a href="#" onClick="YAHOO.viroverse.oTreeble.setAllChecked(false); return false;">Uncheck All</a>&nbsp;
        </span>
        <span  class="form-button">
            <a href="#" onClick="window.location.href = window.location.href; return false" class="clear-form">Clear this form</a>&nbsp;
            <input onClick="add_vials()" class="hide_over_max" name="addVials" type="button" value="Add >>" />
        </span>
    </div>