<!DOCTYPE html>
<html lang="en">
<head>
    <title>Viroverse: Reverse Transcription</title>

[% USE Dumper %]
[% USE date(format=date_format) %]
[% INCLUDE 'in-head.tt' %]

    <link href="[%- uri_base -%]static/stylesheets/autosuggest.css" rel="stylesheet" type="text/css" />    
    <link href="[%- uri_base -%]static/stylesheets/y.css" rel="stylesheet" type="text/css" />    

    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/sidebar-collect.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/yahoo-min.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/event-min.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/connection-min.js"></script> 
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/element-min.js"></script> 
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/datasource-min.js"></script> 
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/animation-min.js"></script> 
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/dragdrop-min.js"></script> 
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/datatable-min.js"></script> 
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/yui_2.8.1/autocomplete-min.js"></script> 
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/suggestion-scientist.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/suggestion-patient.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/suggestion-primer.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/prod.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/rt.js"></script>

    <script type='text/javascript' language='javascript'>
        var finder;
        var local_find_a = new Array;
        [%- FOREACH type IN find_a -%]
        local_find_a.push('[%- type.name -%]');
        [%- END -%]
        function go_time () {
            finder = new product_finder(local_find_a,'finder','error',add_product_box);
            finder.add_fn_arguments = new Array ('to_do','error');

            new YAHOO.widget.AutoComplete('primer:01','primer:01result',viroverse.primerDataSource);
            viroverse.messageAnimate = new YAHOO.util.ColorAnim('message',{ backgroundColor: { from: '#FF6', to: '#FFF' } },2 );
            viroverse.errorAnimate = new YAHOO.util.ColorAnim('error',{ backgroundColor: { from: '#F33', to: '#FFF' } },2 );
            var nl = document.getElementsByClassName("ratio-radio");
            for(i = 0; i < nl.length; i++) {
                nl[i].addEventListener("change",function() {
                    var ratioDiv = document.querySelector("#ratio-special-controls");
                    ratioDiv.setAttribute("data-special",this.value);
                });
            }
        }

    YAHOO.util.Event.onDOMReady(go_time);
    </script>

</head>

<body>
[% INCLUDE 'body-top.tt' %]

    <h2>Reverse Transcriptions</h2>
    [%- INCLUDE prod_find.tt -%]
    <form name='rt_build' id='rt_build' action='[%- uri_base -%]/input/rt_add' onsubmit='javascript:return false'>
    <fieldset><legend>New cDNA Reaction</legend>

    [%- PROCESS 'body-error.tt' -%]

    <label>Template(s)</label>
    <div class="formw" id='to_do'>
[% FOREACH e IN for_rt %]
    <input type='checkbox' checked='yes' name='extractionbox' id='box[%- e.extraction_id -%]' value='[%- e.extraction_id-%]' /><label class='check' for='box[%- e.extraction_id -%]'>[%- e.to_string %]</label><br />
[% END %]
    </div><br clear='all' />

    <label>Enzyme</label> 
    <span class="formw">
        <select name="RT_enzyme_id" [%- disabled -%]> 
                    [%- FOREACH e=rt_enzymes.sort('name') -%]
                    <option value="[%- e.id -%]">[%- e.name -%]</option>
                    [%- END -%]
                    <option value="">other (specify in Notes)</option>
        </select> 
    </span> 
    <br clear='all' />

    <label>Primers</label> 
        <div class='formw'>
            <div id='primers' >
                <div id='primer1'>
                    <input name='primer:01' id='primer:01' size='40' class='auto'>
                    <div class='primer_auto y_auto' id='primer:01result'></div>
                </div></div> <!-- need no textNode for js -->
            <div id='primer_buttons'>
                <input type="button" value="+" id="addprimer1-1" onClick="addPrimer(this)"> 
                <input type="button" value="-" id="addprimer1-1" onClick="removePrimer(this)"> 
            </div>
        </div>
    <br clear='all' />
    <label>RNA:cDNA</label>
    <div class="formw">
        <div id="ratio-toggle-controls">
            <label class="inline"><input type="radio" class="ratio-radio" value="default" name="ratio_toggle" checked>1:2 (default)</input></label>
            <label class="inline"><input type="radio" class="ratio-radio" value="special" name="ratio_toggle">Other</input></label>
        </div>
        <div id="ratio-special-controls" data-special="default">
            <input class="ratio-part" name="ratio_special_rna" placeholder="RNA"/> <strong>:</strong>
            <input class="ratio-part" name="ratio_special_cdna" placeholder="cDNA"/>
        </div>
    </div>
    <br clear='all' />
    <label>Scientist</label> 
    <div class="formw">
        [%- INCLUDE 'scientist-select.tt' -%]
    </div> 
    <br clear='all' />

    <label>Date</label> 
    <span class="formw"><input name="RT_date_completed" id='date' type="text" placeholder="YYYY-MM-DD" class="quickfill-today" size="14" maxlength='10' value="" [%- disabled -%]/></span>
    <br clear='all' />

    <label>Notes</label> 
    <span class="formw"><textarea name="RT_notes" rows="5" cols="37" [%- disabled -%]></textarea></span> 

    <div class="buttons">
        <label></label> 
        <span class="formButton">
            <a href="#" onclick="window.location.reload()" class="clear-form">Clear this form</a>&nbsp;
            <input type="button" onclick="form_to_sidebar_ajax('rt_build','rt','error')" value="Add >>"  [%- disabled -%]/>
        </span> 
    </div> <!--end row-->
    </fieldset>
    </form>


[% INCLUDE 'body-bottom.tt' %]

    <div id="sidebar">
        [% INCLUDE 'rt-sidebar.tt' %]
     </div>

[% INCLUDE 'body-end.tt' %]

</body>
</html>
