[% USE crumbs = Viroverse::Breadcrumbs({ page_record => virodb_patient, leaf_label => "Epitopes", context => c }) %]
[% page.breadcrumbs = crumbs.breadcrumbs %]
<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Viroverse: Summary of [%- patient.get_prop('patient_name') -%]</title>
<% INCLUDE 'head-bootstrap.tt' %>
[% INCLUDE 'summ-head.tt' %]
    <link rel="stylesheet" type="text/css" href="[%- uri_base -%]/static/javascripts/yui_2.8.1/container.css">

    <link href="[%- uri_base -%]/static/stylesheets/autosuggest.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="[%- uri_base -%]/static/javascripts/yui_2.8.1/connection-min.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]/static/javascripts/yui_2.8.1/datasource-min.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]/static/javascripts/yui_2.8.1/autocomplete-min.js"></script>

    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/sidebar-collect.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]static/javascripts/suggestion-patient.js"></script>

    <link rel="stylesheet" type="text/css" href="[%- uri_base -%]static/javascripts/yui_2.8.1r2/tabview.css">
    <link rel="stylesheet" type="text/css" href="[%- uri_base -%]/static/stylesheets/tabview.css" /> 
</head>

<body class='yui-skin-sam'>
[% INCLUDE 'body-top.tt' %]
[% INCLUDE 'sum-patient-top.tt' %]

<div id="patient-tabs" class="yui-navset">

[% PROCESS 'sum-patient-tabs.tt', current_tab = 'epitopes' %]
    
    <!-- BEGIN TABS -->          
    <div class="yui-content">

        <!-- BEGIN TAB 7 (Epitopes) -->
        <div id="tab7">
            [%- INCLUDE 'epitopedb_search/pept_result.tt' -%]
        </div>
         <!-- END TAB 7 (Epitopes) --> 
                                        
    </div>
    <!-- END TABS -->
    
</div>

[% INCLUDE 'body-bottom.tt' %]
<div id="sidebar">
[% INCLUDE 'sidebar/dna_sequence.tt' %] 
</div>

[% INCLUDE 'body-end.tt' %]

</body>
</html>
