<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Viroverse: Peptide Input</title>
[% INCLUDE 'head.tt' %]
    <link href="[%- uri_base -%]/static/stylesheets/autosuggest.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="[%- uri_base -%]/static/javascripts/remotesuggestions.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]/static/javascripts/autosuggest2.js"></script>
    <script type="text/javascript" src="[%- uri_base -%]/static/javascripts/epitopedb.js"></script>

</head>

<body>
[% INCLUDE 'body-top.tt' %]
<h2>Peptide</h2>
<form id='peptide_result' name='peptide_result' action='[%- uri_base -%]/input/epitopedb/peptide/result' method='post' enctype="multipart/form-data">
    <fieldset><legend>Peptide</legend>
    <label>Name</label>
    <span class='formw'>
        <input type='text' id='pept_name' name='pept_name'>
    </span><br clear='all' />
    <label>Sequence</label>
    <span class='formw'>
        <input type='text' id='pept_seq' name='pept_seq'>
    </span><br clear='all' />
    </fieldset>

    <div id='error' class='error' [%- IF error -%] style='display:block'[%- END -%] >

    </div>

    <fieldset><legend>Peptide Source</legend>
    <label>Origin</label>
    <span class='formw'>
        <select name='origin'>
            <option value="" selected>Choose one</option>
                [% FOREACH origin IN origins %]
                    <option value="[%- origin.origin_id -%]">[%- origin.name -%]</option>
                [% END %]
        </select>
    </span><br clear='all' />
    <label>Region</label>
    <span class='formw'>
        <select name='region'>
            <option value="" selected>Choose one</option>
                [% FOREACH region IN regions %]
                    <option value="[%- region.gene_id -%]">[%- region.gene_name -%]</option>
                [% END %]
        </select>
    </span><br clear='all' />
    </fieldset>

    <fieldset><legend>HXB2 Location</legend>
    <label>Start</label> 
    <span class="formw">
        <input type='text' name='hxb2_start'>
    </span><br clear='all' />
    <label>End</label>
        <input type='text' name='hxb2_end'>

    </span><br clear='all' />
    </fieldset><br clear='all' />

    <div>
        <label>Or import data by uploading a <a href="[%- uri_base -%]/static/epitopedb/inputtemplate/peptide.xls">formatted file</a>, which you must save as <b>tab-separated values (tsv)</b>:</label><br>
        <span class='formw'>
            <input type='file' name='inputfile' />
        </span><br clear='all' />
    </div><br clear='all' />

    <div class="buttons">
        <span class="formButton">
            <input type='button' name='pept_submit' value='Submit' onClick="if (validate_form(this.form)) {to_sidebar_ajax('peptide_result', 'error')}">&nbsp;<input type='reset' name='reset' value=' Reset '>
        </span> 
    </div>

</form>

[% INCLUDE 'body-bottom.tt' %]
<form id='sidebar_form' name='sidebar_form' action='[%- uri_base -%]/input/epitopedb/input_sidebar/update'>
    <div id="sidebar">
        <h2>Peptide Input Result</h2>
        <div id="sidebar_content">
            [% status %]
        </div>
    </div>
</form> 
[% INCLUDE 'body-end.tt' %]
</body>

</html>
