<div class="row">
  <div class="col-sm-3">
    <freeform-input
      placeholder="Primer name, note, or sequence…">
    </freeform-input>

    <div class="search-facets">
      <div class="facet-col">
        <facet-widget name="organism"></facet-widget>
      </div>

      <div class="facet-col">
        <facet-widget name="orientation"></facet-widget>
      </div>

      <div class="facet-col">
        <facet-widget name="region"></facet-widget>
      </div>
    </div>
  </div>




  <div class="col-sm-9">
    <div ng-if="search.result.$resolved" class="search-results-horizontal">
      <div class="row">
        <div class="col-sm-7">
          <p>
            <result-summary noun="primer" order-message="sorted by name"></result-summary>
          </p>
        </div>
        <div class="col-sm-5 pager-col-top">
          <clear-search-button></clear-search-button>
          <result-pager></result-pager>
        </div>
      </div>
    </div>
    <table ng-if="search.result.rows.length" class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Orientation</th>
          <th>Organism</th>
          <th>Positions</th>
          <th>Regions</th>
          <th>Sequence</th>
          <th>Length</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="primer in search.result.rows track by primer.primer_id">
          <td>{{ primer.name }}</td>
          <td>{{ primer.orientation }}</td>
          <td>{{ primer.organism }}</td>
          <td>{{ primer.positions.join(', ') }}</td>
          <td>{{ primer.regions.join(', ') }}</td>
          <td><code class="sequence">{{ primer.sequence }}</code></td>
          <td class="text-right">{{ primer.sequence.length }} bp</td>
          <td><a vv-href="/primer/{{ primer.primer_id }}/fasta">FASTA</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
